<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hello Thymeleaf!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>All the owners in the system</h1>
	<p th:text="${@getGreeting}">Offline Greetings</p>
	
<h2>Add a new owner</h2>
	<form action="#" th:action="@{/processForm}"  th:object="${newowner}" method="post">
		Name: <input type="text" th:field="*{name}" />
		Email: <input type="email" th:field="*{emailAddress}" />
		<input type="submit" />
	</form>
	
<h2>Add a new animal for an owner</h2>
<form action="#" th:action="@{/addAnimal}"  th:object="${newanimal}" method="post">
		Name: <input type="text" th:field="*{name}" />
		Type: <input type="text" th:field="*{type}" />
		DoB: <input type="date" th:field="*{dob}" />
	 	Owner: <select th:field="*{ownerID}">
 				 <option th:each="owner : ${Owners}" 
          				th:value="${owner.ownerID}" 
          				th:text="${owner.name}">Wireframe</option>
			</select> 
		<input type="submit" value = "Submit" />
	</form>

<h2>Data Store details</h2>
	<div th:each="owner: ${Owners}">
		<h2 th:text="${owner.ownerID} + ': ' + ${owner.name}">ID</h2>
		<h3>
			Email: <span th:text="${owner.emailAddress}">email</span>
		</h3>
		<p>Animals</p>
		<ul th:each="animal : ${owner.animals}">
			<li
				th:text="${animal.name} + ', ' + ${animal.dob} + ', ' + ${animal.type}">Animal
				Details</li>
		</ul>
	</div>


</body>
</html>
